@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --size: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

svg {
  /*
  background: ;
  height: 100px;
  width: 100px;
  */
  height: var(--size);
  width: var(--size)
}

.input-container {
  background: red;
  width: 500px;
  height: ;
  display: flex;
  flex-direction: column;
}

.top {
  background: green;
  width: 500px;
  height: 200px;
}



input {
  background: #fff;
  color: #000;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.20;
  outline: none;
  padding: 10px;
}

.field {
  width: 100px;
  height: 25px;
  background: ;
  margin: 5px;
  text-align: center;
}