@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --size: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

}

.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  background: #F5F5F5;
  border: 1px solid #d1d1d1;
}

h1 {
  /* background: green; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background: red; */
  padding: 10px;
  border-right: 1px solid #ECECEC;
}

.chart-display {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  /* background: blue; */
  padding: 10px;
}

svg {
  /*
  background: ;
  height: 100px;
  width: 100px;
  */
  height: var(--size);
  width: var(--size)
}

.input-container {
  /* background: red; */
  width: 500px;
  height: ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  /* background: green; */
  width: 500px;
  height: 200px;
}



input {
  background: #fff;
  color: #000;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1em;
  line-height: 1.20;
  outline: none;
  padding: 5px;
  margin: 5px;
}

input:focus {
  border: 1px solid red;
}

.field {
  width: 100px;
  background: ;
  margin: 5px;
  text-align: center;
}

.labels {
  display: flex;
}

.label {
  width: 50px;
  height: 50px;
}

.field-container {
  display: flex;
  /* background: green; */
}

button {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid gray;
}

.add {
  display: none;
}
